@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.dropdown-item:hover {
    color: aqua;
    background-color: black;
    opacity: 50;
}

.dropdown-item:not(:hover) {
    color: white;
    opacity: 50;
}

#select-box {
    background-color: black;
    color: white;
}

#product-img {
    height: 8cm;
    width: 7.5.1cm;
}

#profile-btn {
    background-color: rgb(33, 37, 41); 
    border-color: rgb(33, 37, 41);
    border-radius: 5cm;
    width: 1.5cm
}

#profile-btn:active {
    border-color: rgb(33, 37, 41);
}