@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-image: url(../images/login_bg2.jpg);
}

.card{
    margin-left: 6cm;
    margin-right: 6cm;
}

.alert{
    margin-left: 6cm;
    margin-right: 6cm;
}

.form-group{
    padding-left: 7cm;
}

.form-control:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.form-control:not(:hover){
    background-color: black;
    border-color: black;
    color: white;
}

.spam-box {
    background-color: black;
    border-color: black;
    color: white;
}