@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  background-image: url(../images/login_bg.jpg);
  padding-top: 5cm;
  padding-bottom: 5cm;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-style: initial;
}

.form-group {
    padding-left: 12cm;
}

.form-control:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.form-control:not(:hover){
    background-color: black;
    border-color: black;
    color: white;
}

.submit-btn {
    margin-left: 4%;
}

.spam-box {
    background-color: black;
    border-color: black;
    color: white;
}