@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.alert {
    margin-left: 3cm;
    margin-right: 3cm;
}

.redirect-alert {
    margin-left: 10cm;
    margin-right: 10cm;
}

#twoFA-msg {
    display: none;
}

#twoFA-input:hover + #twoFA-msg {
    display: block;
    color: rgb(37, 173, 191);
}

.form-control:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.form-control:not(:hover){
    background-color: black;
    border-color: white;
    color: white;
}