@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-image: url(../images/login_bg2.jpg);
}

.labels {
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control:hover {
    background-color: black;
    border-color: black;
}

.form-control:not(:hover){
    background-color: black;
    border-color: black;
}

.sub-con{
    width: 20cm;
}

.alert{
    margin-left: 18%;
    width: 25cm;
}