<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

    <title>MyDrugs•User Profile</title>
</head>

<link rel="stylesheet" href="../../static/css/gen_style.css">
<body>

    <nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="#">
            <div class="row g-3">
                <div class="col-auto">
                    <img src="../../static/images/favicon.ico" width="50" height="50"
                        class="d-inline-block align-text-top">
                </div>
                <div class="col-auto">
                    <h3>
                        <label>MyDrugs</label>
                    </h3>
                </div>
            </div>
        </a>

        <div class="btn-group">

            <img src="../../static/images/profile_frame_32px.png" class="dropdown-toggle-split mx-lg-5" 
            data-bs-toggle="dropdown" aria-expanded="True">

            <ul class="dropdown-menu bg-black bg-opacity-50">
                
                <li>
                    <a class="dropdown-item" href="/password-reset-redirector">reset password</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/dashboard/user:{{ username }}">dashboard</a>
                </li>
              
                <li>
                    <a class="dropdown-item" href="/logout">logout</a>
                </li>

            </ul>

        </div>
    </nav>

    <br><br>

    <link rel="stylesheet" href="../../static/css/user_profile.css">
    <div class="card_container container">
        <div class="profile_card card bg-dark text-light">

            <div class="card-header">
                <h3 class="text-center">User Information</h3>
            </div>

            <div class="card-body">
                <div class="row g-3">

                    <div class="img-col col-auto">
                        <br><br><br>
                        <h5 class="card-title text-center">
                            User Profile Photo
                        </h5>
                        <br>
                        <div class="container">
                            {% if "{{username}}.png" in proFile %}
                                <img src="../../static/images/{{username}}.png">
                            {% else %}
                                <img src="../../static/images/profile_frame_256px.png">
                            {% endif %}
                        </div>
                    </div>

                    <div class="info-col col-7">
                        <br>
                        <div class="container">
                            <h3 class="card-title">
                                Username: <strong id="username">@{{username}}</strong>
                            </h3>
                            <br>
                            <p class="card-text">
                                <form class="form-group" method="post">

                                    <div class="row g-1">
                                        <div class="col-auto">
                                            <h4 style="margin-right: 0.5cm;">Full Name: </h4>
                                        </div>
                                        <div class="col-7">
                                            <strong>
                                                <input type="text" class="form-control text-light" 
                                                value="{{user_data['fullname']}}" name="fullname" required>
                                            </strong>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row g-1">
                                        <div class="col-auto">
                                            <h4 style="margin-right: 1.8cm;">Email: </h4>
                                        </div>
                                        <div class="col-7">
                                            <strong>
                                                <input type="email" class="form-control text-light" 
                                                value="{{user_data['email']}}" name="email" required>
                                            </strong>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row g-1">
                                        <div class="col-auto">
                                            <h4 style="margin-right: 1cm;">Address: </h4>
                                        </div>
                                        <div class="col-auto">
                                            <textarea type="text" class="form-control text-light" 
                                            name="address" cols="33">{{user_data['address']}}</textarea>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row g-1">
                                        <div class="col-auto">
                                            <h4 style="margin-right: 0.9cm;">Area Pin: </h4>
                                        </div>
                                        <div class="col-7">
                                            <strong>
                                                <input type="text" class="form-control text-light" 
                                                value="{{user_data['PINcode']}}" name="areaPIN">
                                            </strong>
                                        </div>
                                    </div>

                                    <br><br>

                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <button class="btn btn-success" type="submit"><h4>SAVE</h4></button>
                                        </div>
                                        <div class="col-auto">
                                            <h1>{{update_status}}</h1>
                                        </div>

                                        <div class="col-auto">
                                            <a class="btn btn-primary" href="/dashboard/user:{{username}}"><h4>BACK</h4></a>
                                        </div>
                                    </div>

                                </form>
                            </p><br>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>