<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

    <title>MyDrugs•Login</title>
</head>

<link rel="stylesheet" href="../static/css/gen_style.css">
<body>

    <nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="#">
            <div class="row g-3">
                <div class="col-auto">
                    <img src="../../static/images/favicon.ico" width="50" height="50"
                        class="d-inline-block align-text-top">
                </div>
                <div class="col-auto">
                    <h3>
                        <label>MyDrugs</label>
                    </h3>
                </div>
            </div>
        </a>

        <div class="row g-3">

            <div class="col-auto">
                <a type="button" class="btn btn-primary" href="/signup">
                    <h4>
                        Sign-Up
                    </h4>
                </a>
            </div>

            <div class="col-auto">
                <h3 style="color: white;">|</h3>
            </div>

            <div class="col-auto">
                <a type="button" class="btn btn-outline-primary" href="/home">
                    <h4>
                        Home
                    </h4>
                </a>
            </div>

        </div>
    </nav>
    
    <br><br><br><br><br><br>
    
    <link rel="stylesheet" href="../static/css/login.css">
    
    <div class="container">
        {% if delete_profile == true %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Your account was successfully deleted</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if error.__len__() > 0 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Login Status!</strong> {{ error }} -- <a class="link-danger" 
                href="/password-reset-redirector"><b>Reset Your Password Here</b></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if sc_status.__len__() > 0 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Safe-Code Status!</strong> {{ sc_status }} -- <a class="link-danger" 
                href="/password-reset-redirector"><b>Reset Your Password Here</b></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>

    <div class="container" align="center">
        <div class="card">
            <h3 class="card-header" style="background-color: #454040;">Login</h3>
            
            <div class="card-body" style="margin-left: 15rem;">
                <form class="form-group" method="post">

                    <div class="username row g-3">
                        <div class="col-6">
                            <div class="d-grid gap-2">
                                <div class="input-group flex-nowrap">
                                    <span class="spam-box input-group-text" id="addon-wrapping">@</span>
                                    <input type="text" class="form-control" 
                                    placeholder="username" name="username" value="{{input_box_value}}"
                                    aria-label="Username" aria-describedby="addon-wrapping" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="password row g-3">
                        <div class="col-6">
                            <div class="d-grid gap-2">
                                <div class="input-group flex-nowrap">
                                    <span class="spam-box input-group-text" id="addon-wrapping">🔑</span>
                                    <input type="password" class="form-control" 
                                    placeholder="password/Safe-Code" name="password" 
                                    aria-label="password" aria-describedby="addon-wrapping" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div>
                        <div class="row g-3">
                            <button class="btn btn-primary col-6" type="submit">
                                <h5 align=""center>Login</h5>
                            </button>
                        </div>

                        <br>

                        {% if pswd_invalid==true %}
                            <div class="row g-3">
                                <a class="btn btn-outline-primary col-6" 
                                type="submit" href="/send-safecode"
                                onclick="alert('For Safe-Code click OK and check your registered E-mail inbox')">
                                    <h5 align=""center>Login With Safe-Code</h5>
                                </a>
                            </div>
                        {% endif %}
                    </div>

                </form>
            </div>
        
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>